<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>staaudit API RESTFull via Spring</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring-main-spring.xml</param-value>
	</context-param>
	
	<!-- Carica il contesto di spring allo startup -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- Abilitazione della filter chain di Spring Security 
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	-->
	
	<!-- E agganciamento della stessa alla servlet principale di Spring MVC (tutte le request) 
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<servlet-name>spring-mvc-dispatcher-servlet</servlet-name>
	</filter-mapping>
	-->

	<!-- Filtro per forzare l'encoding a UTF-8 (per visualizzare correttamente i caratteri speciali) -->
	<filter>
		<filter-name>encoding-filter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>encoding-filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Servlet principale: tutte le request finiscono prima qua -->
	<servlet>
		<servlet-name>spring-mvc-dispatcher-servlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- La servlet viene inizializzata caricando il contesto di spring MVC -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/application-context-mvc.xml</param-value>
		</init-param>
		<!-- Carica subtito la servlet -->
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>spring-mvc-dispatcher-servlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	
	
	<distributable/>
	
	

</web-app>