<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>staaudit-web-rest</display-name>

	<!-- *************************************************************************** -->
	<!-- ******************* Configurazioni Spring ********************************* -->
	<!-- *************************************************************************** -->
	<!-- -->

	<!-- main spring xml descriptor -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring-main.xml</param-value>
	</context-param>


	<!-- rest prefix -->
	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/api</param-value>
	</context-param>

	<!-- Resteasy configurator -->
	<listener>
		<listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
	</listener>

	<!-- RESTEasy <-> Spring connector (RESTEasy can access Spring beans) -->
	<listener>
		<listener-class>org.jboss.resteasy.plugins.spring.SpringContextLoaderListener</listener-class>
	</listener>

	<!-- configurazione RESTEasy application... -->
	<servlet>
		<servlet-name>RESTEasyService</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>it.csi.stacore.staaudit.web.rest.application.StaauditApplication</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>RESTEasyService</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>


</web-app>
